.loading-map {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
}

.loaded-map {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  height: 100vh;
}
.polygons-row {
  min-height: 100vh;
}

.polygons-sidebar {
  flex: none;
}

.polygons-list-container {
  -ms-overflow-style: none; /* IE and Edge */
  /* Hide scrollbar for IE, Edge and Firefox */
  border-radius: 5px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.polygons-list-container::-webkit-scrollbar {
  display: none;
}

.polygons-list li {
  cursor: pointer;
}

.polygons-list li {
  background-color: #dad8d8;
  padding: 0.6rem 0.8rem;
}

.polygons-list li.active {
  background-color: #f8f9fa;
  color: #495057;
  border-color: rgba(0,0,0,.125);
}

.polygons-list li > div svg.marker-icon {
  transform: scale(1);
  transition: all 0.2s;
}
.polygons-list li:hover > div svg.marker-icon {
  transform: scale(1.2);
  transition: all 0.2s;
}

.polygons-list .delete-polygon {
  background-color: #868686;
  border: none;
  border-radius: 5px;
  padding: 0.1rem 0.3rem;
}
.polygons-list .delete-polygon:hover {
  background-color: rgb(179, 25, 25);
  cursor: pointer;
}
.polygons-list .delete-polygon:focus {
  outline: none;
}
.polygons-list .delete-polygon:active {
  background-color: rgb(80, 80, 80);
}
.polygons-list .delete-polygon:hover svg {
  fill: white;
}

@media screen and (max-width: 767px) {
  .polygons-sidebar {
    max-height: 30vh;
  }
  .polygons-sidebar .polygons-list-container {
    height: 25vh;
  }
}
